<style>
  .containerStyle{
    width: 100%;
    flex: 1;
    flex-direction: 'row';
    padding-top: 10px;
  }

  .inaccessibleContentStyle{
    width: 80%;
    float: right;
  }

  .panelStyle{
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .links{
    width: 70%;
    align-self: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
</div>
<div class="containerStyle" role="contentContainer">
  <div id="links" role="navigation" class="panelStyle" role="navPanel">
    <button class="links" routerLink="">None</button>
    <button class="links" routerLink="textAlternatives">Text Alternatives</button>
    <button class="links" routerLink="infoRelationship">Information Relationship</button>
    <button class="links" routerLink="meaningfulSequence">Meaningful Sequence</button>
    <button class="links" routerLink="inputPurpose">Incorrect Input Purpose</button>
    <button class="links" routerLink="identifyPurpose">No Purpose on Elements</button>
    <button class="links" routerLink="useOfColor">No Use of color</button>
    <button class="links" routerLink="audioControl">No Audio Control</button>
    <button class="links" routerLink="colorContrastMinimum">Insufficient Color Contrast</button>
    <button class="links" routerLink="textResize">Text Resize</button>
    <button class="links" routerLink="imageOfText">Image of Text</button>
    <button class="links" routerLink="colorContrastEnhanced">Color Contrast Enhanced</button>
    <button class="links" routerLink="visualPresentation">Visual Presentation</button>
    <button class="links" routerLink="nonTextContrast">Non Text Contrast</button>
    <button class="links" routerLink="textSpacing">Text Spacing</button>
    <button class="links" routerLink="keyboard">Keyboard</button>
    <button class="links" routerLink="keyboardTrap">Keyboard Trap</button>    
    <button class="links" routerLink="shortcut">Shortcut</button>
    <button class="links" routerLink="timeAdjustment">Time adjustment</button>
    <button class="links" routerLink="pauseStopHide">Pause Stop Hide</button>    
    <button class="links" routerLink="threeFlashes">Three flashes or below threshold</button>
    <button class="links" routerLink="bypassBlock">Bypass Block</button>
    <button class="links" routerLink="focusOrder">Focus Order</button>
    <button class="links" routerLink="linkPurpose">Link Purpose</button>
    <button class="links" routerLink="headingLabel">Headings and Labels</button>
    <button class="links" routerLink="labelName">Label in Name</button>
    <button class="links" routerLink="pageLang">Page Language</button>
    <button class="links" routerLink="partLang">Part Language</button>
    <button class="links" routerLink="onInput">On Input</button>
    <button class="links" routerLink="consistentNav">Consistent Navigation</button>
    <button class="links" routerLink="consistentId">Consistent Identification</button>
    <button class="links" routerLink="errorId">Error Identification</button>
    <button class="links" routerLink="labelInstructions">Labels or Instructions</button>
    <button class="links" routerLink="parsing">Parsing</button>
    <button class="links" routerLink="nameRoleValue">Name Role Value</button>
    <button class="links" routerLink="status">Status</button>
  </div>
  <div class="inaccessibleContentStyle" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
